@charset "utf-8";

/* CSS Document */

body {
	background-color: grey;	
}

/* MAIN CSS */
#wrapper {
    background-color: white;
    border-color: #0099CC;
    border-style: double;
    border-width: 5px;
    margin-left: auto;
    margin-right: auto;
    min-width: 1000px;
    position: relative;
    width: 55%;
	height: 650px;
}

/* Buttons */
header {
	border-bottom-style: groove;
/*    margin-top: 0.5em;*/
	padding-top: 0.5em;
    padding-bottom: 0.5em;
    position: relative;
}

input {
    /*margin-left: 1em;*/
    width: 125px;
}

input[type=button] {
    margin-left: 1em;

}


	#face {
	}
	
	#shuffle {
		position: absolute;
	}
	
	#hide {
		left: -115px;
		position: relative;
		top: 580px;
		width: 220px;
	}
	
	#audiop {
		left: 450px;
		position: relative;
		top: 55px;
	}
	
	#previous {
	    position: relative;
    	top: 580px;
		left: -150px;
	}
	
	#next {
		position: relative;
		top: 580px;
		left: 160px;
	}
	
	#counter {
		position: relative;
		text-align: center;
		top: 580px;
		left: -225px;
	}

/* Navigation List */
nav.thumbsMain {
	border-bottom: medium double steelblue;
    border-right: medium double steelblue;	
	overflow: auto;
	background-color: #D7DDEB;
	width: 20em;
	height: 80%;
}

li.isOn {
    border: thick ridge;
    display: block;
    height: 100px;
    left: 1em;
    margin-top: 4em;
    padding: 0.5em;
    position: relative;
    text-align: center;
    top: 0;
    width: 60%;
}

li.isOff {
    display: none;
	margin-top: 2em;
	width: 88%;
}
li:hover {
    cursor: pointer;
}


.imgThumb {
    bottom: 0;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
}

.textThumb {
	font-family:Verdana, Geneva, sans-serif;
	font-size: 1.5em;
 
    bottom: 0;
    height: 20px;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
}
.textThumb.minText {
	font-family:Verdana, Geneva, sans-serif;
    font-size: 1.3em;
    top: -3em;
}
.textThumb.minText2 {
	font-family:Verdana, Geneva, sans-serif;
    font-size: 0.7em;
    top: -7em;
}

.empty {
	display:none;
}

.bempty {
	visibility:hidden;
}


/* Content */
section {	
	/*border: 2px solid #F00;*/
	margin-left: 40%;
	/*height: 400px;*/
	width: 500px;
	position: absolute;
	top: 20%;
    text-align:center;
}


span {
	display:block;	
}

#center img:hover, span:hover {
    cursor: pointer;
}

img {	
    max-height: 100%;
    max-width: 100%;
}


.theImages {
	border: 2px solid #000000;
}	


span.theText {
    font-family: Verdana,Geneva,sans-serif;
    font-size: 5em;

	margin:auto; 
	
	/*height:140px;*/ 
	width:90%;
	position:absolute; 
	top:1.5em;
	bottom:0; 
	left:0; 
	right:0;
       
    text-align: center;
    vertical-align: middle;		
	
	overflow:visible;
	
}


@media screen and (max-width: 960px) {
	body {
		background-color: red;	
	}
	
	#wrapper {
		min-width: 320px;
		width: 740px;
		height: 900px;
	}
	
	/* Buttons */
	
	#hide {
		left: 0px;
		position: absolute;
		top: 250px;
		width: 220px;
	}
	
	#audiop {
		left: 600px;
		position: absolute;
		top: 250px;
	}
	
	#previous {
		left: 0px;
	    position: absolute;
    	top: 800px;		
	}
	
	#next {
		left: 600px;
		position: absolute;
		top: 800px;		
	}
	
	#counter {
		position: absolute;
		top: 800px;
		left: 40%;
	}
	
	/* Navigation List */
	
	nav.thumbsMain {
		overflow-x: auto;
		white-space: nowrap;
		height: 180px;
		width: 100%;	
		border-bottom: none;
		border-right: none;
	}
	
	li.isOn {
		display: inline-block;
		width: 200px;
		margin-top: 0px;
		left: 0px;
	}
	
	.imgThumb {
		width: 300px;
		max-height: 100%;
    	max-width: 44%;
	}
	
	/* Content */
	section {	
		margin-left: 20%;
		top: 350px;
	}
}


/*
@media screen and (max-width: 768px) {
	body {
		background-color: orange;	
	}
}

@media screen and (max-width: 550px) {
	body {
		background-color: yellow;	
	}
}

@media screen and (max-width: 320px) {
	body {
		background-color: green;	
	}
}
*/


/* Drop Downs */
select {
    width: 100px;
}

	#units {
		left: 480px;
		position: absolute;
	}
	
	#lessons {
		left: 620px;
		position: absolute;
	}

.textThumb.minText {
	font-family:Verdana, Geneva, sans-serif;
    font-size: 1.7em;
    top: -2em;
}

.theText.minText {
	top:0.6em;
}

.textThumb.minText1 {
	font-family:Verdana, Geneva, sans-serif;
    font-size: 1.3em;
    top: -3em;
}

.theText.minText1 {
	font-size: 4.6em;
	top: 0em;
}

.textThumb.minText2 {
	font-family:Verdana, Geneva, sans-serif;
    font-size: 1em;
    top: -5em;
}

.theText.minText2 {
	font-family:Verdana, Geneva, sans-serif;
    font-size: 3em;
	top: 0.5em;	
}

.textThumb.minText3 {
	font-family:Verdana, Geneva, sans-serif;
    font-size: 0.7em;
    top: -7em;
}

.theText.minText3 {
	font-family:Verdana, Geneva, sans-serif;
    font-size: 2.3em;
	top: -0.5em;	
}


.progress-indicator {
    background-color: white;
    display: none;
    height: 100%;
    opacity: 0.5;
    position: fixed;
    right: 0;
    text-align: center;
    top: 0;
    width: 100%;
    z-index: 1000;
}
.progress-indicator img {
    margin-top: 75px;
}